<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h2>Headers containing |logo|,|Home|,| Contact us |, |Sign Up(school) Payment and subscribe|, </h2>


    <h1> Welcome to Learnix AI</h1>
    <h2> Robot holding book </h2>
    <h2>Subscription model</h2>
    <h2> Review Cards (Carousel style)</h2>
<h1>
<a href="/SchoolLogin">School Login</a></h1>
<h4><a href="/teacher/login">Teacher Login</a></h4>
<h4><a href="/student/login">Student Login</a></h4>

</h1>
    <h1> Teacher Login</h1>
    <h1>Student Login</h1>  
</body>
</html>